frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz
frontend/coverage
frontend/.next/
frontend/out/
frontend/build
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

backend/.idea/
backend/.vscode/
backend/node_modules/
backend/build/
backend/tmp/
backend/temp/
backend/package-lock.json
backend/.env
backend/keys/
